
body {
  text-align: center;
  background-color: #947f5a;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  width: 100%;
  height: 200px;
  align-items: center;
  justify-content: space-evenly;
  background-color: #5a9460
}

p {
  font-size: 2em;
  font-weight: bold;
  color: black;
}

img {
 height: 40px;
 margin-top: 25px;
}

#roundWinner {
  padding: 60px;
}

#rock {
  background-image: url("./assets/rock.png");
}

#paper {
  background-image: url("./assets/paper.png");
}

#scissors {
  background-image: url("./assets/scissors.png");
}

#turkey {
  background-image: url("./assets/turkey.png");
}

#lizard {
  background-image: url("./assets/lizard.png");
}

.container {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100vw;
    padding-top: 100px;
    margin: auto;
}

.icon {
  background-size: contain;
  background-repeat: no-repeat;
  margin: 30px;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 30%;
}

.pick5-button {
  margin: 30px;
  background-color: #5a7694;
  border: 10px solid black;
  border-radius: 30%;
  font-size: 1em;
  font-weight: bold;
  color: black;

}
 .row {
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.rock:hover, .scissors:hover, .paper:hover, .turkey:hover, .lizard:hover {
    border-color: #570423;
}
